<div class="ui three steps fluid stackable">
  <div class="step link {{if isPrepareProcess 'disabled'}}
    {{if isPrepareDone 'completed disabled' 'active'}}"
    {{action 'prepareFiles'}}>
    <i
      class="fa {{if isPrepareProcess 'refresh fa-spin' 'fa-music'}} icon"></i>
    <div class="content">
      <div class="title">Wav to PRM</div>
      <div class="description">Prepare files</div>
    </div>
  </div>
  <div class="step link {{if isPrepareDone '' 'disabled'}}
    {{if isEnergyProcess 'disabled'}}
    {{if isEnergyDone 'completed disabled' 'active'}}"
    {{action 'normEnergy'}}>
    <i class="fa {{if isEnergyProcess 'refresh fa-spin' 'fa-plug'}} icon"></i>
    <div class="content">
      <div class="title">Energy</div>
      <div class="description">Process Energy PRM</div>
    </div>
  </div>
  <div class="step link {{if isEnergyDone '' 'disabled'}}
    {{if isFeaturesProcess 'disabled'}}
    {{if isFeaturesDone 'completed disabled' 'active'}}"
    {{action 'normFeatures'}}>
    <i
      class="fa {{if isFeaturesProcess 'refresh fa-spin' 'fa-sliders'}} icon">
    </i>
    <div class="content">
      <div class="title">Features</div>
      <div class="description">Process Features PRM</div>
    </div>
  </div>
</div>
<div class="ui three steps fluid stackable">
  <div class="step link {{if isFeaturesDone '' 'disabled'}}
    {{if isUBMProcess 'disabled'}}
    {{if isUBMDone 'completed disabled' 'active'}}"
    {{action 'trainUBM'}}>
    <i class="fa {{if isUBMProcess 'refresh fa-spin' 'fa-bullhorn'}} icon"></i>
    <div class="content">
      <div class="title">UBM</div>
      <div class="description">Train universal background model</div>
    </div>
  </div>
  <div class="step link {{if isUBMDone '' 'disabled'}}
    {{if isTVProcess 'disabled'}}
    {{if isTVDone 'completed disabled' 'active'}}"
    {{action 'trainTotalVariability'}}>
    <i class="fa {{if isTVProcess 'refresh fa-spin' 'fa-area-chart'}} icon"></i>
    <div class="content">
      <div class="title">TotalVariability</div>
      <div class="description">Train TotalVariability matrix</div>
    </div>
  </div>
  <div class="step link {{if isTVDone '' 'disabled'}}
    {{if isIVectorsProcess 'disabled'}}
    {{if isIVectorsDone 'completed disabled' 'active'}}"
    {{action 'prepareIVectorsExtractor'}}>
    <i
      class="fa {{if isIVectorsProcess 'refresh fa-spin' 'fa-rocket'}} icon"></i>
    <div class="content">
      <div class="title">Prepare extractor</div>
      <div class="description">Prepare the ndx file for extracting datas</div>
    </div>
  </div>
</div>
<div class="ui steps fluid stackable">
  <div class="step link {{if isIVectorsDone '' 'disabled'}}
    {{if isExtractProcess 'disabled'}}
    {{if isExtractDone 'completed disabled' 'active'}}"
    {{action 'extractIVectors'}}>
    <i
      class="fa {{if isExtractProcess 'refresh fa-spin' 'fa-cubes'}} icon"></i>
    <div class="content">
      <div class="title">Extract I-Vectors</div>
      <div class="description">Create the i-vectors</div>
    </div>
  </div>
</div>

{{yield}}
