<div class="ui button" {{action 'leaveOneOut'}}>Go !</div>
<div class="ui button" {{action 'scoreLeaveOneOut'}}>Scores</div>
<div class="ui button" {{action 'countLeaveOneOut'}}>Count</div>

<h2 class="ui dividing header">Results</h2>
<div class="ui two column stackable grid container">
  {{#each-in results as |testVector res|}}
    <div class="ui column">
      <h4 class="ui header">{{testVector}}</h4>
      <ul>
        {{#each-in res as |key value|}}
          <li>{{key}} : {{value}}</li>
        {{/each-in}}
      </ul>
    </div>
  {{/each-in}}
</div>

{{yield}}
