{{!--<div class="ui horizontal segments">--}}
<div class="ui fluid stackable two column grid">
  <div class="column">
    <div class="ui button" {{action 'leaveOneOut'}}>Leave one out !</div>
  </div>
  <div class="column">
    <div class="ui button" {{action 'leaveOneOutConcat'}}>Concat !</div>
    {{ui-checkbox class="toggle" label="Prm Input" checked=prmInput}}
  </div>
  {{!--<div class="ui button" {{action 'leaveOneOutDependentCat'}}>Dependent !</div>--}}
  {{!--</div>--}}
  <div class="column">
    <div class="ui button" {{action 'scoreLeaveOneOut'}}>Scores</div>
    <div class="ui button" {{action 'countLeaveOneOut'}}>Count</div>
  </div>
  <div class="column">
    <div class="ui button" {{action 'confuseMatrix'}}>Confuse Matrix</div>
    <div class="ui mini input">
      {{input value=csvName placeholder="csvName"}}
    </div>
  </div>
  <div class="column">
    Left : {{length}}
  </div>
</div>

<h2 class="ui dividing header">Results</h2>
<div class="ui two column stackable grid container">
  {{#each-in results as |testVector res|}}
    <div class="ui column">
      <h4 class="ui header">{{testVector}}</h4>
      <ul>
        {{#each-in res as |key value|}}
          <li>{{key}} : {{value}}</li>
        {{/each-in}}
      </ul>
    </div>
  {{/each-in}}
</div>

{{yield}}
