<div class="ui steps">
  <div class="step link {{if isPRMDone 'completed disabled' 'active'}}
    {{if isPRMProcess 'disabled'}}"
    {{action 'CreatePRM'}}>
    <i class="fa {{if isPRMProcess 'refresh fa-spin' 'fa-music'}} icon"></i>
    <div class="content">
      <div class="title">Wav to PRM</div>
      <div class="description">Create PRM from wav</div>
    </div>
  </div>
  <div class="step link {{if isPRMDone '' 'disabled'}}
    {{if isNormFeatProcess 'disabled'}}
    {{if isNormFeatDone 'completed disabled' 'active'}}"
    {{action 'EnergyAndFeatures'}}>
    <i class="fa {{if isNormFeatProcess 'refresh fa-spin' 'fa-plug'}} icon"></i>
    <div class="content">
      <div class="title">TotalVariability</div>
      <div class="description">Train TotalVariability matrix</div>
    </div>
  </div>
  <div class="step link {{if isNormFeatDone '' 'disabled'}}
    {{if isExtractProcess 'disabled'}}
    {{if isExtractDone 'completed disabled' 'active'}}"
    {{action 'ExtractIVectors'}}>
    <i class="fa {{if isExtractProcess 'refresh fa-spin' 'fa-plug'}} icon"></i>
    <div class="content">
      <div class="title">I-Vectors Extraction</div>
      <div class="description">Extract I-Vectors</div>
    </div>
  </div>
</div>

{{yield}}
