<div class="ui steps">
  <div class="step link {{if isPrepareProcess 'disabled'}}
    {{if isPrepareDone 'completed disabled' 'active'}}"
    {{action 'prepareFiles'}}>
    <i class="fa {{if isPrepareProcess 'refresh fa-spin' 'fa-music'}} icon"></i>
    <div class="content">
      <div class="title">Wav to PRM</div>
      <div class="description">Prepare files</div>
    </div>
  </div>
  <div class="step link {{if isPrepareDone '' 'disabled'}}
    {{if isEnergyProcess 'disabled'}}
    {{if isEnergyDone 'completed disabled' 'active'}}"
    {{action 'normEnergy'}}>
    <i class="fa {{if isEnergyProcess 'refresh fa-spin' 'fa-plug'}} icon"></i>
    <div class="content">
      <div class="title">Energy</div>
      <div class="description">Process Energy PRM</div>
    </div>
  </div>
  <div class="step link {{if isEnergyDone '' 'disabled'}}
    {{if isFeaturesProcess 'disabled'}}
    {{if isFeaturesDone 'completed disabled' 'active'}}"
    {{action 'normFeatures'}}>
    <i class="fa {{if isFeaturesProcess 'refresh fa-spin' 'fa-sliders'}} icon">
    </i>
    <div class="content">
      <div class="title">Features</div>
      <div class="description">Process Features PRM</div>
    </div>
  </div>
</div>

{{yield}}
